[Unit]
Description=Rocketry Ground Station Radio Receiver

[Service]
Type=exec
ExecStart=/home/rocketry/Cloudjumper-Ground-Station/radio-receiver.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target
Alias=radio-receiver.service